@font-face {
	font-family: PixelifySans-Regular;
	src:
		local(''),
		url('./PixelifySans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-style: normal;
	font-stretch: normal;
	font-stretch: normal;
	font-display: swap;
	font-display: swap;
}

@font-face {
	font-family: PixelifySans-Bold;
	src:
		local(''),
		url('./PixelifySans-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-style: normal;
	font-stretch: normal;
	font-stretch: normal;
	font-display: swap;
	font-display: swap;
}

@font-face {
	font-family: TitilliumWeb-Regular;
	src:
		local(''),
		url('./TitilliumWeb-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-style: normal;
	font-stretch: normal;
	font-stretch: normal;
	font-display: swap;
	font-display: swap;
}

@font-face {
	font-family: PixelifySans-Bold;
	src:
		local(''),
		url('./TitilliumWeb-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-style: normal;
	font-stretch: normal;
	font-stretch: normal;
	font-display: swap;
	font-display: swap;
}
