.rock-scissor-paper {
    &--game-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-block-start: 60px;
        min-height: 400px;

        @media (min-width: 768px) {
            gap: 20px;
            min-width: 300px;
        }

        :global {
            button,
            span {
                &.active {
                    color: var(--green-light);
                }
            }
        }
    }

    &--main {
        display: flex;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &--dived {
        border: 1px solid var(--green-light);
    }


    &--game {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    &--versus,
    &--mode {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &--submit {
        position: relative;
        inset-block-end: 0;
        width: 140px;
    }
}

.error-label {
    color: #dd4545;
}