.rock-scissor-paper {
    &--game-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 500px;
        min-width: 300px;
        gap: 20px;

        :global {
            button,
            span {
                &.active {
                    color: var(--green-light);
                }
            }
        }
    }

    &--mode {
        display: flex;
        justify-content: space-between;
    }

    &--submit {
        position: relative;
        inset-block-end: 0;
        width: 100%;
    }
}

.error-label {
    color: red;
}