.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	min-height: calc(100vh - var(--header-height));
	background: var(--grey-dark);

	.main__grid {
		display: flex;
		align-items: center;
		width: 100%;

		@media (max-width: 512px) {
			flex-direction: column;
		}

		.row {
			position: relative;
		}
	}

	span {
		display: inline-block;
	}

	.profile-wrapper {
		position: relative;
		flex: 0 0 25%;
		padding: 20px 20px 0 0px;
		overflow: hidden;

		@media (max-width: 768px) {
			flex: 1;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			background: linear-gradient(0deg, white 0%, var(--green-light) 100%);
			border-radius: 50%;
			aspect-ratio: 1;
			width: 100%;
			z-index: 1;
			transform: translate(0, -10px);
			animation: fade-in 0.8s ease-in-out;
		}

		:global img {
			position: relative;
			width: 100%;
			z-index: 2;
			animation: fade-in 0.8s ease-in-out 0.35s;
		}
	}

	.main__skills {
		display: flex;
		gap: 30px;

		@media (min-width: 766px) {
			margin-block-start: 30px;
		}
	}

	@media (max-width: 768px) {
		.main {
			&__skills {
				order: 3;
			}

			&__slogan {
				order: 2;
			}

			&__profile-wrapper {
				order: 1;
			}
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
