main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: calc(100vh - var(--header-height));
  background: var(--grey-dark);
  background: linear-gradient(0deg, var(--grey-dark) 0%, var(--grey-dark) 90%, #5a6267 100%);

  @media (min-width: 768px) {
    font-size: 24px;
  }

  div.profile-wrapper {
  position: relative;
  width: 50%;
  flex: 0 0 25%;
  padding: 20px 20px 0 0px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(0deg, white 0%, var(--green-light) 100%);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 100%;
    z-index: 1;
    transform: translate(-10px, -10px);;
  }

   img {
    position: relative;
    width: 100%;
    z-index: 2;
  }
}
}

.material-symbols-outlined {
  animation: logo-spin infinite 1.5s linear;
}

.linkedin-link {
  display: inline-block;

  .wrapper-linkedin-logo {
    display: inline-block;
    transform: translateY(5px);

    div {
      display: flex;
    }
  }

  svg {
    fill: white;
  }

  &:hover svg {
    fill: var(--green-light);
  }
}