.technical-interview {
    &__button {
        position: absolute;
        top: 10%;
        inset-inline-start: 50%;
        transform: translateX(-50%)
    }
}

.password-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}