.rspp {
    &--wrapper {
        position: relative;
    }

    &--user-choice {
        display: flex;
        gap: 5px;

        :global {
            span:hover {
                cursor: pointer;
            }
        }
    }

    &--info {
        inset-block-end: 0;
    }
}