@import './fonts/fonts.scss';
@import './mixins.module.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	@include scrollbar;
}

.d-none {
	display: none;
	height: 0;
	width: 0;
	visibility: none;
	opacity: 0;
}

:root {
	--font-secondary: 'PixelifySans-Regular', sans-serif;
	--font-secondary--bold: 'PixelifySans-Bold', sans-serif;
	--font-main: 'TitilliumWeb-Regular', sans-serif;
	--font-main--bold: 'TitilliumWeb-Bold', sans-serif;

	--header-height: 120px;

	--grey-dark: #1b1f22;
	--green-light: #81e4aa;
}

html {
	font-family: var(--font-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	background-color: var(--grey-dark, #1b1f22);
}

html,
body,
a {
	color: white;
}

ul {
	list-style-type: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	@include underline;

	text-decoration: none;
	color: white;

	&::hover,
	&::visited {
		color: initial;
	}

	&[disabled] {
		pointer-events: none;
		color: gray;
	}
}

p {
	white-space: pre-line;
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.5); }
	100% { transform: scale(1); }
}