.loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: var(--grey-dark, #1b1f22);

    .logo {
        width: min-content;
    }
}