main {
	&:hover .highlighted-span {
		transform-origin: bottom left;

		&[data-color='green'] {
			color: var(--green-light);
		}

		&[data-color='blue'] {
			color: blue;
		}

		&[data-color='red'] {
			color: red;
		}
	}

	@media (max-width: 768px) {
		span.highlighted-span {
			&[data-color='green'] {
				color: var(--green-light);
			}

			&[data-color='blue'] {
				color: blue;
			}

			&[data-color='red'] {
				color: red;
			}
		}
	}

	.highlighted-span {
		position: relative;
		display: inline-block;
		transition: color 0.3s ease-in-out;
	}
}
