.foobar {
    display:flex;
    flex-direction: column;
    align-items: center;

    &__results-container {
        display:flex;
        gap: 5px;
        justify-content: center;
        flex-wrap: wrap;
        width: 50vw;

        :global {
            span[data-color="Foo"] {
                color: rgb(255, 192, 75);
            }

            span[data-color="Bar"] {
                color: rgb(97, 189, 218);
            }

            span[data-color="FooBar"] {
                color: var(--green-light);
            }
        }
    }
}