@import './../../style/mixins.module.scss';

.about-me {
    width: 100%;

    .grid {
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;

        &-closed {
            max-height: 0;
        }

        &-open {
            max-height: 60vh;
            overflow: auto;
        }
    }

    .video-wrapper {
        position: relative;

        :global iframe {
            width: 100%;
        }
    }

    .close .chevron-down {
        transform: translateY(6px) rotate(180deg);
    }

    :global {
        h2 {
            position: relative;
            margin-block-start: 30px;
            cursor: pointer;

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(0deg);
                transition: 0.3s all ease-in-out;
            }

        }

        h3 {
            margin-block-end: 10px;
            text-transform: uppercase;
        }

        h4 {
            margin: 5px 0;
        }
    }

    .lncc-video {
        width: 100%;

        @media (max-width: 768px) {
            height: 200px;
        }
    }

    .education-imgs,
    .experience-imgs {
        position: relative;
        max-height: 400px;
        overflow: hidden;

        @media (max-width: 768px) {
            max-height: 200px;
        }
    }

    .experience-imgs {
        @media (max-width: 768px) {
            img {
                width: 100%
            }
        }
    }
}

.chevron-down {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    width: 24.5px;
    height: 20px;
    transition: all 0.3s ease-in;
    transform: translateY(0);

    .left-line,
    .right-line {
        position: absolute;
        top: 13px;
        left: 0;
        width: 15px;
        height: 1px;
        background-color: var(--green-light);
        transform: rotate(45deg);
    }

    .right-line {
        left: inherit;
        right: 0;
        transform: rotate(-45deg);
    }
}
