.contacts--ul {
	li > h3 {
		display: inline-block;
		color: var(--green-light);
		margin-inline-end: 5px;
	}
}

.cv-div {
	display: flex;
	gap: 30px;
	margin-block-end: 30px;
	padding-block-end: 30px;
	border-block-end: 1px solid var(--green-light);
}
